[Desktop Entry]
Version=1.0
Name=CpuManagerGui
Comment=CPU Controler
Exec=/usr/bin/cpumanagergui
Icon=cpumanager.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
