[Desktop Entry]
Version=1.2
Name=Cpu Manager
Comment=CPU Controler
Exec=kdesu /usr/bin/cpu-manager
Icon=cpumanager.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
